@font-face{
    font-family: 'Fellix-Regular';
    font-style: normal;
  font-weight: 400;
  font-display: swap;
    src: url(../fonts/Fellix-Regular.woff2) format('woff2');
}

@font-face{
    font-family: 'Fellix-SemiBold';
    src: url(../fonts/Fellix-SemiBold.woff2)  format('woff2');
}
